[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
ipykernel = "*"
black = "*"
scipy = "*"
xgboost = "*"
tensorflow = "*"
keras = "*"
torch = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
